nodered_flow.txt
[{"id":"5f355527.b29dfc","type":"tab","label":"FINAL","disabled":false,"info":""},{"id":"a6034533.a2ba98","type":"debug","z":"5f355527.b29dfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.details","targetType":"msg","x":330,"y":120,"wires":[]},{"id":"5020dafc.c30354","type":"debug","z":"5f355527.b29dfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.text","targetType":"msg","x":320,"y":20,"wires":[]},{"id":"8e03118d.9aed8","type":"switch","z":"5f355527.b29dfc","name":"comparision","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":220,"wires":[["cf08967.e43d568","26283259.6f10ae"],["b83324a7.c1d4e8","26283259.6f10ae"],["88d6e278.a155","26283259.6f10ae"]]},{"id":"cf08967.e43d568","type":"change","z":"5f355527.b29dfc","name":"Negative","rules":[{"t":"set","p":"payload","pt":"msg","to":"Negative","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":428,"y":300,"wires":[["c3b50766.9f2848"]]},{"id":"b83324a7.c1d4e8","type":"change","z":"5f355527.b29dfc","name":"Neutral","rules":[{"t":"set","p":"payload","pt":"msg","to":"Neutral","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":428,"y":340,"wires":[["c3b50766.9f2848"]]},{"id":"88d6e278.a155","type":"change","z":"5f355527.b29dfc","name":"Positive","rules":[{"t":"set","p":"payload","pt":"msg","to":"Positive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":428,"y":380,"wires":[["c3b50766.9f2848"]]},{"id":"c3b50766.9f2848","type":"debug","z":"5f355527.b29dfc","name":"status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":300,"wires":[]},{"id":"8266ded2.b233b","type":"delay","z":"5f355527.b29dfc","name":"","pauseType":"rate","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"11","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":160,"wires":[["49aaef7a.b0f63"]]},{"id":"26283259.6f10ae","type":"delay","z":"5f355527.b29dfc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"21","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":340,"y":520,"wires":[["d4138a7.a705b78","683adbdf.1f0b74","1ba9aa11.c270a6"]]},{"id":"d4138a7.a705b78","type":"debug","z":"5f355527.b29dfc","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":670,"y":360,"wires":[]},{"id":"882a1ae2.b0c268","type":"twitter in","z":"5f355527.b29dfc","twitter":"","tags":"#crorna,#covid19,#covid_19,#covid,coronavirus,#india,#casesinindia,#lockdown,#lockdownextention,#narendarmodi,#modi","user":"false","name":"","inputs":0,"x":110,"y":100,"wires":[["a6034533.a2ba98","5020dafc.c30354","fa175144.66276","8266ded2.b233b","e34541dc.2ddfa"]]},{"id":"fa175144.66276","type":"sentiment","z":"5f355527.b29dfc","name":"","property":"payload","x":140,"y":220,"wires":[["8e03118d.9aed8","5c7a66f1.540c88"]]},{"id":"683adbdf.1f0b74","type":"ui_chart","z":"5f355527.b29dfc","name":"","group":"dc38f3a0.18585","order":1,"width":"12","height":10,"label":"Sentimental Analysis Graph for tweets related to Lockdown & Covid 19","chartType":"horizontalBar","legend":"true","xformat":"Y-M-D","interpolate":"cubic","nodata":"Fetching Data...","dot":false,"ymin":"-5","ymax":"+5","removeOlder":1,"removeOlderPoints":"30","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0063cc","#fff824","#01e930","#71058f","#ff0019","#db9600","#0adaff","#5e3131","#d1d1d1"],"useOldStyle":false,"outputs":1,"x":750,"y":500,"wires":[[]]},{"id":"49aaef7a.b0f63","type":"ui_toast","z":"5f355527.b29dfc","position":"bottom right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Recent Tweets","name":"","x":520,"y":160,"wires":[]},{"id":"14ca9979.2ea0a7","type":"ui_audio","z":"5f355527.b29dfc","name":"","group":"dc38f3a0.18585","voice":"en-US","always":"","x":240,"y":360,"wires":[]},{"id":"e34541dc.2ddfa","type":"function","z":"5f355527.b29dfc","name":"PreToken","func":"global.set(\"tweet\",msg.payload.tweet)\nvar apikey=\"4vnrkEnrIEd4CuKhvsE6n4ln688R9KsTRJF0e1ToLhin\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":60,"wires":[["909a1ed6.c167b"]]},{"id":"909a1ed6.c167b","type":"http request","z":"5f355527.b29dfc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":40,"wires":[["8a7487f3.cd4dd8"]]},{"id":"8a7487f3.cd4dd8","type":"function","z":"5f355527.b29dfc","name":"Pre Prediction","func":"var ye = global.get('tweet')\nvar token=msg.payload.access_token\nvar instance_id=\"f57f3fd7-4886-4469-bb29-5c3dc3752753\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n//msg.payload={\"fields\": [\"years of experince\"], \"values\": [[ye]]}\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":43.99999523162842,"wires":[["a9aef966.d72b28"]]},{"id":"a9aef966.d72b28","type":"http request","z":"5f355527.b29dfc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/54a4deea-1053-4ac0-bd0f-e9d6d0cce0c5/predictions","tls":"","persist":false,"proxy":"","authType":"","x":915,"y":43.99999523162842,"wires":[[]]},{"id":"5c7a66f1.540c88","type":"delay","z":"5f355527.b29dfc","name":"","pauseType":"rate","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"11","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":280,"wires":[["14ca9979.2ea0a7"]]},{"id":"1ba9aa11.c270a6","type":"ui_chart","z":"5f355527.b29dfc","name":"","group":"dc38f3a0.18585","order":1,"width":"12","height":10,"label":"Sentimental Analysis Pie chart for tweets related to Lockdown & Covid 19","chartType":"pie","legend":"true","xformat":"Y-M-D","interpolate":"cubic","nodata":"Fetching Data...","dot":false,"ymin":"-5","ymax":"+5","removeOlder":"4","removeOlderPoints":"30","removeOlderUnit":"1","cutout":"45","useOneColor":false,"useUTC":false,"colors":["#ad0000","#fbff00","#794a3e","#07e907","#01000f","#00fbff","#ff0905","#9467bd","#048d9f"],"useOldStyle":false,"outputs":1,"x":720,"y":560,"wires":[[]]},{"id":"dc38f3a0.18585","type":"ui_group","z":"","name":"Covid-19","tab":"bcbec1a.834a24","order":1,"disp":false,"width":"24","collapse":false},{"id":"bcbec1a.834a24","type":"ui_tab","z":"","name":"Sentweet","icon":"dashboard","order":1,"disabled":false,"hidden":false}]